@CHARSET "UTF-8";

body {
	font-size: 9pt; 
	text-align: center;
}

table {
	font-size: 9pt;
	text-align: center;
	border: 1pt solid black;
}

select {
	font-size: 9pt; 
}

form {
	font-size: 9pt; 
}

p{
	font-weight: 700;
}